# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
import pandas as pd
import os
for dirname, _, filenames in os.walk('/kaggle/input/student-performance-in-mathematics/exams.csv'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
df=pd.read_csv('/kaggle/input/student-performance-in-mathematics/exams.csv')

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86

In [4]:
df.shape

(1000, 8)

In [5]:
df.isnull().sum() # it seems there is no empty cell.

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [6]:
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,male,group C,some college,standard,none,77,77,71
996,male,group C,some college,standard,none,80,66,66
997,female,group A,high school,standard,completed,67,86,86
998,male,group E,high school,standard,none,80,72,62
999,male,group D,high school,standard,none,58,47,45

In [7]:
df.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     67.810000      70.382000      69.140000
std      15.250196      14.107413      15.025917
min      15.000000      25.000000      15.000000
25%      58.000000      61.000000      59.000000
50%      68.000000      70.500000      70.000000
75%      79.250000      80.000000      80.000000
max     100.000000     100.000000     100.000000

In [8]:
#i want to add an avarage score columns.
df['avarage score']=df[['math score','reading score','writing score']].mean(axis=1)

In [9]:
df.describe()

        math score  reading score  writing score  avarage score
count  1000.000000    1000.000000    1000.000000    1000.000000
mean     67.810000      70.382000      69.140000      69.110667
std      15.250196      14.107413      15.025917      14.027856
min      15.000000      25.000000      15.000000      20.000000
25%      58.000000      61.000000      59.000000      59.583333
50%      68.000000      70.500000      70.000000      69.666667
75%      79.250000      80.000000      80.000000      79.333333
max     100.000000     100.000000     100.000000     100.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   avarage score                1000 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 70.4+ KB

To perform regression analysis, **it is necessary to convert categorical variables into numerical ones.** Let's begin by separating the categorical and numerical variables in the dataset.

In [11]:
categorical=df.drop(['math score','reading score', 'writing score','avarage score'], axis=1)
numerical=df[['math score','reading score', 'writing score','avarage score']]

In [12]:
categorical

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group D,some college,standard,completed
1,male,group D,associate's degree,standard,none
2,female,group D,some college,free/reduced,none
3,male,group B,some college,free/reduced,none
4,female,group D,associate's degree,standard,none
...,...,...,...,...,...
995,male,group C,some college,standard,none
996,male,group C,some college,standard,none
997,female,group A,high school,standard,completed
998,male,group E,high school,standard,none
999,male,group D,high school,standard,none

In [13]:
numerical

     math score  reading score  writing score  avarage score
0            59             70             78      69.000000
1            96             93             87      92.000000
2            57             76             77      70.000000
3            70             70             63      67.666667
4            83             85             86      84.666667
..          ...            ...            ...            ...
995          77             77             71      75.000000
996          80             66             66      70.666667
997          67             86             86      79.666667
998          80             72             62      71.333333
999          58             47             45      50.000000

[1000 rows x 4 columns]

In [14]:
df1= categorical.apply(lambda x: pd.factorize(x)[0])

In [15]:
df1

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,0,0,0,0,0
1,1,0,1,0,1
2,0,0,0,1,1
3,1,1,0,1,1
4,0,0,1,0,1
...,...,...,...,...,...
995,1,2,0,0,1
996,1,2,0,0,1
997,0,4,5,0,0
998,1,3,5,0,1
999,1,0,5,0,1

In [16]:
data=pd.concat([df1,numerical],axis=1,ignore_index=True)

In [17]:
data

     0  1  2  3  4   5   6   7          8
0    0  0  0  0  0  59  70  78  69.000000
1    1  0  1  0  1  96  93  87  92.000000
2    0  0  0  1  1  57  76  77  70.000000
3    1  1  0  1  1  70  70  63  67.666667
4    0  0  1  0  1  83  85  86  84.666667
..  .. .. .. .. ..  ..  ..  ..        ...
995  1  2  0  0  1  77  77  71  75.000000
996  1  2  0  0  1  80  66  66  70.666667
997  0  4  5  0  0  67  86  86  79.666667
998  1  3  5  0  1  80  72  62  71.333333
999  1  0  5  0  1  58  47  45  50.000000

[1000 rows x 9 columns]

In [18]:
new_columns_name={0:'gender',1:'race',2:'parent education',3:'lunch',4:'preparetion tests',5:'math',6:'reading',7:'writing',8:'avarage'}
data=data.rename(columns=new_columns_name)

In [19]:
data

,gender,race,parent education,lunch,preparetion tests,math,reading,writing,avarage
0,0,0,0,0,0,59,70,78,69.000000
1,1,0,1,0,1,96,93,87,92.000000
2,0,0,0,1,1,57,76,77,70.000000
3,1,1,0,1,1,70,70,63,67.666667
4,0,0,1,0,1,83,85,86,84.666667
...,...,...,...,...,...,...,...,...,...
995,1,2,0,0,1,77,77,71,75.000000
996,1,2,0,0,1,80,66,66,70.666667
997,0,4,5,0,0,67,86,86,79.666667
998,1,3,5,0,1,80,72,62,71.333333
999,1,0,5,0,1,58,47,45,50.000000

In [20]:
x=data.drop(['avarage'],axis=1)
y=data['avarage']

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [23]:
lr= LinearRegression()
model=lr.fit(x_train, y_train)

In [24]:
predict = model.predict(x_test)

In [25]:
(mean_squared_error(predict,y_test))**0.5

1.380081798142998e-14

In [26]:
r2_score(predict,y_test)

1.0

In [27]:
from sklearn.linear_model import Ridge, Lasso
R=Ridge()
L=Lasso()

In [28]:
R.fit(x_train,y_train)

Ridge()

In [29]:
predict2=R.predict(x_test)
(mean_squared_error(predict2,y_test))**0.5

3.157147850848197e-05

In [30]:
r2_score(predict2,y_test)

0.9999999999941458

In [31]:
L.fit(x_train,y_train)

Lasso()

In [32]:
predict3=L.predict(x_test)

In [33]:
(mean_squared_error(predict3,y_test))**0.5

0.06550775601362434

In [34]:
r2_score(predict3,y_test)

0.9999745461088234